/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #2a5a8a; /* Green */
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

p {
    margin-top: 5px;
    font-size: 1.2em;
}

main {
    text-align: center;
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.feature:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

h2 {
    color: #2a5a8a; /* Green */
    font-size: 1.8em;
    margin-bottom: 10px;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .feature {
        width: calc(100% - 40px);
    }
}

button {
    background-color: #2a5a8a; /* Green */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #2a5a8a;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

footer {
    background-color: #2a5a8a; 
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
